####################################
#####  GENERAL                 #####
####################################

# Enables debug log level
DEBUGGING=false



####################################
#####  PIPELINE                #####
####################################

# If false, hashes files present in Plex upon metadata updates to ensure they are the latest/wanted versions.
SKIP_VERIFY_PRESENT_FILES=true
# If false, makes sure the files existing on plex are in the correct folder and named correctly.
SKIP_ORGANIZE_PRESENT_FILES=true
# If false, automatically updates metadata for files already in your Plex library, otherwise only does so for new downloads.
SKIP_UPDATE_METADATA_PRESENT_FILES=true
# If true, skips download. Use if you only want to organize your current files
SKIP_DOWNLOADS=false
# If true, skips updating posters when updating metadata.
SKIP_POSTERS=false

# Set to true to also process specials
INCLUDE_SPECIALS=false
# Set to true to prioritize extended cuts over standard releases.
PREFER_EXTENDED=false



####################################
#####  MOUNT                   #####
####################################

# Use these mapping variables if Plex uses different mount paths than the OnePacerr container.
#MOUNT_LIBRARY_PLEX=/mnt/Library/Series
#MOUNT_LIBRARY_ONEPACERR=\\TRUENAS\series

# Use these mapping variables if qBittorrent uses different mount paths than the OnePacerr container.
#MOUNT_DOWNLOADS_QBITTORRENT=/mnt/Applications/Downloads
#MOUNT_DOWNLOADS_ONEPACERR=\\TRUENAS\downloads



####################################
#####  PLEX                    #####
####################################

# Plex URL.
PLEX_URL=http://localhost:32400
#Your Plex Token
PLEX_TOKEN=<your-token-here>

# Name of the Library in Plex.
PLEX_LIBRARY_NAME=TV Shows
# Name of the Series in Plex.
PLEX_SERIES_NAME=One Pace
# Override when the Plex folder needs to be called differently from PLEX_SERIES_NAME.
#PLEX_SERIES_FOLDER_NAME=

# Overrides the filename each file should have, 
#`{SERIES_NAME}`, `{ARC}`, `{EPISODE}` and `{TITLE}` will be replaced with values. 
#`.mkv` automatically added if not specified.
#PLEX_FILENAME_FORMAT={SERIES_NAME} - S{ARC}E{EPISODE} - {TITLE}.mkv

# If false, the app crashes if "PLEX_SERIES_NAME" isn't already on Plex (useful for catching typos on first setup).
# Leave true to auto-create the show.
PLEX_CREATE_SHOW_IF_NOT_FOUND=true



####################################
#####  TORRENT                 #####
####################################

# Your torrent webUI URL.
TORRENT_URL=http://localhost:8080
# Your torrent webUI username.
TORRENT_USER=<your-username-here>
# Your torrent webUI password.
TORRENT_PASSWORD=<your-password-here>

# Your torrent client. Will be used in the future to use different clients rather tnax qBittorrent.
TORRENT_CLIENT=qbittorrent

# Creates downloads with this category, also filters completed torrents using this.
TORRENT_CATEGORY=onepacerr
# After processing completed downloads, changes the torrent category to this one.
TORRENT_CATEGORY_ONCE_COMPLETED=completed

# Seconds between checking for completed downloads.
TORRENT_CHECK_INTERVAL=60



####################################
#####  METADATA                #####
####################################

# Metadata url (untested with different ones).
METADATA_URL=https://raw.githubusercontent.com/ladyisatis/one-pace-metadata/refs/heads/v2/metadata/data.json
# Currently only language supported.
METADATA_LANGUAGE=en
# Currently `default` equals `piratezekk`. There are also `official` and `mizzoufan523` available. If a set is missing a poster it uses `default`.
METADATA_POSTER_SET=default
# Seconds between checking for new metadata.
METADATA_CHECK_INTERVAL=3600
